@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


/* Body styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d3d399;
    margin: 0;
}


/* Header styles */

body {
	font-family: 'Poppins', sans-serif;
}

header {
    border-bottom: 1px solid #f1f5f9;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:rgb(200 255 240);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.imagenLogo{
	width: 40%; /* Define el ancho deseado */
    height: auto; /* Mantiene la proporción original del alto */
	margin-left: 20px;
}

.header .menu-nav {
	display: flex;
	list-style: none;
	gap: 20px;
}

.menu-responsive {
	display: none;
}

.menu-nav li a {
	text-decoration: none;
    color: #000000;
    /* Cambia el color del texto a un tono más oscuro */
    font-size: 17px;
    /* Aumenta el tamaño de la fuente */
    padding: 12px 18px;
    /* Ajusta el espaciado interno */
    border-radius: 100px;
}

.menu-nav li a:hover {
	background-color: #f1f5f9;
}

.menu-hamburger {
	display: none;
	font-size: 30px;
	color: #374151;
	cursor: pointer;
}

.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
/*end header*/
.products {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: center;
}



.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;

}
.carts img{
    width: 100%;
	position: fixed;
}
.carts p{
	position: fixed;
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: fixed;
    top: 0;
    right: 0px;
    background-color: rgb(0, 235, 129);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
	margin-top: 45px;
	margin-bottom: 10px;
    font-family: system-ui;
    text-decoration: none;
    background:#0284c7;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: #0284c7;
    border: solid 2px #0284c7;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #0284c7;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: #0284c7;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}
.count-product{
	margin-left: 16px;
}



.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para el título */
.contact-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el párrafo de descripción */
.contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
#contact-form {
    text-align: left;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form textarea {
    resize: vertical;
}

#contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de éxito */
.alert {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}

/* Estilos para el mensaje de error (si es necesario) */
.error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}


/* Footer styles */

footer {
    border-top: 1px solid #e1e1e1;
    padding: 100px 0 90px;
    text-align: center;
    /* Centro el contenido del footer */
    background-color: #e3eaf1;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr;
    gap: 20px;
    /* Añado espacio entre elementos */
}

.footer .logo {
    grid-column: 1/4;
    /* Ocupa todas las columnas disponibles */
    font-size: 24px;
    font-weight: bold;
    color: #334155;
    text-align: center;
    /* Centro el texto del logo */
}

.container-social {
    grid-column: 1/4;
    /* Ocupa todas las columnas disponibles */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-social a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    justify-content: center;
    /* Centro los elementos horizontalmente */
}

.youtube i {
    color: #da0000;
}

.facebook i {
    color: #4676ed;
}

.telegram i {
    color: #32a9df;
}

.twitter i {
    color: #5a99ec;
}

.container-social a span {
    color: #374151;
}

.user-footer ul,
.container-policies ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-footer ul li,
.container-policies ul li {
    list-style: none;
}

.user-footer ul li a,
.container-policies ul li a {
    text-decoration: none;
    color: #4b5563;
}

.user-footer ul li a:hover,
.container-policies ul li a:hover {
    color: #000;
}

@media (max-width: 998px) {
    .container {
        max-width: 740px;
    }
    .header {
        position: relative;
    }
    .menu-responsive {
        display: none;
        flex-direction: column;
        gap: 30px;
        background-color: #fff;
        position: absolute;
        top: 0;
        width: 70%;
        height: 100vh;
        z-index: 3;
    }
    .menu-responsive.active {
        display: flex;
    }
    .logo-responsive {
        padding: 24px 20px 0 20px;
    }
    .menu-responsive>p {
        padding: 0 20px;
        color: #475569;
        font-size: 14px;
    }
    .container-social-responsive {
        display: flex;
        gap: 15px;
        padding: 0 20px;
    }
    .container-social-responsive a {
        text-decoration: none;
        font-size: 30px;
    }
    .btn-close-responsive {

        top: 20px;
        right: 30px;
        font-size: 25px;
        cursor: pointer;
        color: black;
    }
    .menu-responsive nav {
        padding: 20px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }
    .menu-nav-responsive {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 24px;
    }
    .menu-nav-responsive li {
        list-style: none;
    }
    .menu-nav-responsive li a {
        text-decoration: none;
        color: #0f172a;
        font-size: 14px;
        text-transform: uppercase;
    }
    .container-details-product {
        flex-direction: column;
    }
    .aside-details-product {
        order: 2;
    }
    .container-card-payment {
        order: 1;
    }
    .menu-hamburger {
        display: block;
        flex: 1;
        order: 1;
    }
    .logo {
        flex: 1;
        order: 2;
        text-align: center;
    }
    .carrito {
        flex: 1;
        order: 3;
        justify-content: right;
    }
    .header .menu-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        flex: 2;
        font-size: 30px;
    }
    .grid-images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
    }
    .image-1 {
        grid-column: 1/-1;
        grid-row: 1/3;
    }
    .image-2 {
        grid-column: 1/2;
        grid-row: 3/-1;
    }
    .image-3 {
        grid-column: 2/-1;
        grid-row: 3/4;
    }
    .image-4 {
        grid-column: 2/-1;
        grid-row: 4/-1;
    }
    .body-details-product .info-product .features-product {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 468px) {
    .menu-nav-responsive li a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        text-transform: uppercase;
    }
	.logo-responsive {
        padding: 30% 0px 0 0px;
		color: black;
        text-align: center;
    }
	.cart-products{
		position: absolute!important;
		top: 115px;
		width: 100%;
		background-color: #fff;
		padding: 0 18px;
		box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
		display: none;
		min-width: 290px;
	}
	.btn-close-responsive{
		font-size: 40px;
	}
    .header {
		align-items: center;
	}

	.logo {
		font-size: 24px;
	}

	.menu-responsive{
		width: 100%;
	}

	.card-payment {
		padding: 10px 15px;
		height: 650px;
	}

	.container-sizes {
		grid-template-columns: repeat(4, 1fr);
	}

	.btn-add-to-cart {
		font-size: 14px;
	}
    .header .menu-nav {
        display: none;
        list-style: none;
        gap: 20px;
        width: auto;
    }

	.logo{
		text-align: center;
	}
	.imagenLogo {

		width: 40%;
		height: auto;

	}
	.menu-responsive{
		display: none;
	}
	.cart {
		right: 5%;
		position: fixed;
		width: 39px;
		height: 38px;
	}
	.menu-hamburger {
		margin-top: 36px;
		display: flex;
		flex: 1;
		order: 1;
		margin-left: 0%;
        position: absolute;
		font-size: 30px;
		color: #374151;
		cursor: pointer;
	}
	
	.count-product {
		top: 55px;
		right: 5%;
		position: fixed;
		margin-left: 16px;
	}
    .grid-images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 150px);
    }
    .container {
        max-width: 330px;
    }
    .header {
        align-items: center;
    }
    .logo {
        font-size: 24px;
    }
    .menu-responsive {
        width: 100%;
    }
    .container-social-responsive {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 0 20px;
    }
    .card-payment {
        padding: 10px 15px;
        height: 650px;
    }
    .container-sizes {
        grid-template-columns: repeat(4, 1fr);
    }
    .btn-add-to-cart {
        font-size: 14px;
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 1fr;
        align-items: center;
        gap: 30px;
    }
    .container-social {
        grid-column: 2/-1;
        grid-row: 1/2;
        flex-direction: row;
    }
    .container-social i {
        font-size: 20px;
    }
    .container-social span {
        display: none;
    }
    .container-review {
        max-width: 100%;
    }
    .menu-responsive {
        display: none;
        flex-direction: column;
        gap: 30px;
        background-color: rgb(200 255 240);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
        text-align: center;
    }
    .menu-responsive p {
        padding: 0 20px;
        color: black;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .menu-responsive nav {
        padding: 20px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        text-align: center;
    }
    

    
    .menu-responsive li {
        margin-bottom: 10px;
    }
    
    .menu-responsive a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .menu-responsive a:hover {
        color: #f1c40f;
    }
}