{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block body %}


<section class="centrado">
    <h1>Política de devoluciones</h1>
    <p>Última actualización: 09/09/2023</p>
</section>

<section>
    <h2>Devoluciones y Cambios</h2>
    <p>
        En ZAPABYTE, nos esforzamos por garantizar tu satisfacción con nuestros productos. Si
        por alguna razón no estás completamente satisfecho con tu compra, ofrecemos un proceso de devolución y cambio.
    </p>
</section>

<section>
    <h2>Condiciones de Devolución</h2>
    <p>
        Para ser elegible para una devolución o cambio, los siguientes criterios deben cumplirse:
    </p>
    <ul>
        <li>El producto debe estar en su condición original, sin usar y en su embalaje original.</li>
        <li>Debes proporcionar el recibo de compra o el comprobante de pedido.</li>
        <li>El producto debe devolverse dentro de 30 días a partir de la fecha de compra.</li>
    </ul>
</section>

<section>
    <h2>Proceso de Devolución</h2>
    <p>
        Si deseas realizar una devolución o cambio, sigue estos pasos:
    </p>
    <ol>
        <li>Contacta a nuestro servicio de atención al cliente en GigabyteTienda@gmail.com
            para notificar tu solicitud de devolución o cambio.</li>
        <li>Empaqueta el producto de manera segura junto con el recibo de compra o el comprobante de pedido.</li>
        <li>Envía el paquete a la siguiente dirección: Granaderos 247, San Rafael, Mendoza.</li>
        <li>Una vez que recibamos y verifiquemos tu devolución, procesaremos un reembolso o enviaremos el producto de
            reemplazo, según tu solicitud.</li>
    </ol>
</section>

<section>
    <h2>Reembolsos</h2>
    <p>
        Una vez que recibamos y procesemos tu devolución, emitiremos un reembolso a través del método de pago original.
        El tiempo que tomará para que el reembolso se refleje en tu cuenta puede variar según el método de pago y el
        banco.
    </p>
</section>

<section>
    <h2>Contáctanos</h2>
    <p>
        Si tienes alguna pregunta sobre nuestra política de devoluciones o necesitas ayuda con un proceso de devolución,
        no dudes en contactarnos en +542625-406481.
    </p>
</section>



</html>
{% endblock %}