{% extends 'layout.html' %} {% block title %} Hombres {% endblock %} {% block body %}

<section class="container">
    <div class="products">
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre1.jpg" alt="">
                <p>$<span>93999</span>,00</p>
            </div>
            <p class="title">NIKE AIR DUNK JUMBO</p>
            <a href="/zapahombre1" data-id="1" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre2.jpg" alt="">
                <p>$<span>106499</span>,00</p>
            </div>
            <p class="title">NIKE AIR FORCE 1 SHADOW</p>
            <a href="/zapahombre2" data-id="2" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre3.jpg" alt="">
                <p>$<span>112499</span>,00</p>
            </div>
            <p class="title">JORDAN AIR 5 RETRO</p>
            <a href="/zapahombre3" data-id="3" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre4.jpg" alt="">
                <p>$<span>93999</span>,00</p>
            </div>
            <p class="title">NIKE AIR DUNK JUMBO BLUE</p>
            <a href="/zapahombre4" data-id="4" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre5.jpg" alt="">
                <p>$<span>38999</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS ZX 1K BOOST</p>
            <a href="/zapahombre5" data-id="5" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre6.jpg" alt="">
                <p>$<span>47299</span>,00</p>
            </div>
            <p class="title">FILA ACD MID</p>
            <a href="/zapahombre6" data-id="6" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre7.jpg" alt="">
                <p>$<span>44999</span>,00</p>
            </div>
            <p class="title">PUMA RBD GAME</p>
            <a href="/zapahombre7" data-id="7" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre8.jpg" alt="">
                <p>$<span>89999</span>,00</p>
            </div>
            <p class="title">NIKE AIR FORCE 1 MID 07</p>
            <a href="/zapahombre8" data-id="8" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/hombre9.jpg" alt="">
                <p>$<span>129499</span>,00</p>
            </div>
            <p class="title"> NIKE AIR VAPORMAX 2021 FK</p>
            <a href="/zapahombre9" data-id="9" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/10.jpg" alt="">
                <p>$<span>71.999</span>,00</p>
            </div>
            <p class="title"> BOTITAS JORDAN ZION 2</p>
            <a href="/zapahombre10" data-id="10" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/11.jpg" alt="">
                <p>$<span>86.999</span>,00</p>
            </div>
            <p class="title"> ZAPATILLAS JORDAN TATUM 1 "ST. LOUIS</p>
            <a href="/zapahombre11" data-id="11" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/hombres/12.jpg" alt="">
                <p>$<span>36.989</span>,00</p>
            </div>
            <p class="title"> ZAPATILLAS PUMA R22</p>
            <a href="/zapahombre12" data-id="12" class="redirigirZapa">Ver</a>
        </div>
    </div> 


{% endblock %}