{% extends 'layout.html' %} {% block title %} Mujeres {% endblock %} {% block body %}

<section class="container">
    <div class="products">
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/m9.jpg" alt="">
                <p>$<span>72499</span>,00</p>
            </div>
            <p class="title">NIKE AIR MAX EXCEE</p>
            <a href="/zapamujer1" data-id="13" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/10.jpg" alt="">
                <p>$<span>99999</span>,00</p>
            </div>
            <p class="title">NIKE AIR MAX 90 FUTURA</p>
            <a href="/zapamujer2" data-id="14" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/11.jpg" alt="">
                <p>$<span>40199</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS OZELIA</p>
            <a href="/zapamujer3" data-id="15" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/12.jpg" alt="">
                <p>$<span>41239</span>,00</p>
            </div>
            <p class="title">FILA RENNO</p>
            <a href="/zapamujer4" data-id="16" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/13.jpg" alt="">
                <p>$<span>45989</span>,00</p>
            </div>
            <p class="title">FILA RAY TRACER</p>
            <a href="/zapamujer5" data-id="17" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/14.jpg" alt="">
                <p>$<span>50999</span>,00</p>
            </div>
            <p class="title">PUMA TRC BLAZE SPXP</p>
            <a href="/zapamujer6" data-id="18" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/15.jpg" alt="">
                <p><span>43499</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS RIVALRY LOW</p>
            <a href="/zapamujer7" data-id="19" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/16.jpg" alt="">
                <p>$<span>55639</span>,00</p>
            </div>
            <p class="title">FILA UNIT V2</p>
            <a href="/zapamujer8" data-id="20" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/17.jpg" alt="">
                <p>$<span>55639</span>,00</p>
            </div>
            <p class="title">FILA RENNO</p>
            <a href="/zapamujer9" data-id="21" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/18.jpg" alt="">
                <p>$<span>53039</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS ASTIR</p>
            <a href="/zapamujer10" data-id="22" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/19.jpg" alt="">
                <p>$<span>55639</span>,00</p>
            </div>
            <p class="title">FILA ELECTROVE 2</p>
            <a href="/zapamujer11" data-id="23" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="/static/imgs/mujeres/20.jpg" alt="">
                <p>$<span>55639</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS RETROPY ADISUPER</p>
            <a href="/zapamujer12" data-id="24" class="redirigirZapa">Ver</a>
        </div>
    </div>
</section>

{% endblock %}