{% extends 'layout.html' %} {% block title %} Niños {% endblock %} {% block body %}

<section class="container">
    <div class="products">
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino1.jpg" alt="">
                <p>$<span>51799</span>,00</p>
            </div>
            <p class="title">ADIDAS SUPERSTAR</p>
            <a href="/zapanino1" data-id="25" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino2.jpg" alt="">
                <p>$<span>32999</span>,00</p>
            </div>
            <p class="title">PUMA SUEDE CLASSIC XXI V INF</p>
            <a href="/zapanino2" data-id="26" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino3.jpg" alt="">
                <p>$<span>23499</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS SUPERSTAR 360 IRON MAN</p>
            <a href="/zapanino3" data-id="27" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino4.jpg" alt="">
                <p>$<span>34999</span>,00</p>
            </div>
            <p class="title">PUMA SLIPSTREAM BLOCK</p>
            <a href="/zapanino4" data-id="28" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino5.jpg" alt="">
                <p>$<span>38799</span>,00</p>
            </div>
            <p class="title">ADIDAS FORUM LOW</p>
            <a href="/zapanino5" data-id="29" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino6.jpg" alt="">
                <p>$<span>42299</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS SUPERSTAR 360</p>
            <a href="/zapanino6" data-id="30" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino7.jpg" alt="">
                <p>$<span>19699</span>,00</p>
            </div>
            <p class="title">FILA DISRUPTOR NIÑO</p>
            <a href="/zapanino7" data-id="31" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino8.jpg" alt="">
                <p>$<span>20499</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS ADIFOM SLTN</p>
            <a href="/zapanino8" data-id="32" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino9.jpg" alt="">
                <p>$<span>38799</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS SUPERSTAR 360</p>
            <a href="/zapanino9" data-id="33" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino10.jpg" alt="">
                <p>$<span>46999</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS MULTIX</p>
            <a href="/zapanino10" data-id="34" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino11.jpg" alt="">
                <p>$<span>31999</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS FORUM LOW</p>
            <a href="/zapanino11" data-id="35" class="redirigirZapa">Ver</a>
        </div>
        <div class="carts">
            <div>
                <img src="static\imgs\ninos\nino12.jpg" alt="">
                <p>$<span>54999</span>,00</p>
            </div>
            <p class="title">ADIDAS ORIGINALS NIZZA PLATFORM</p>
            <a href="/zapanino12" data-id="36" class="redirigirZapa">Ver</a>
        </div>
        
    </div>
</section>

{% endblock %}