{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block body %}

<section class="centrado">
    <h1>Preguntas Frecuentes</h1>
    <p>Última actualización: 09/09/2023</p>
</section>

<h2>¿Cómo hago un pedido de zapatillas en la aplicación?</h2>
<p>Para realizar un pedido de zapatillas, sigue estos pasos:</p>
<ol>
    <li>Abre la aplicación y busca el producto que deseas.</li>
    <li>Selecciona el producto y agrega tu talla y cantidad.</li>
    <li>Haz clic en el botón "Agregar al carrito" y procede a la pantalla de pago.</li>
    <li>Ingresa la información de envío y pago.</li>
    <li>Revisa tu pedido y confirma la compra.</li>
</ol>

<h2>¿Cuáles son las opciones de pago disponibles?</h2>
<p>Aceptamos varias opciones de pago, transferencias bancarias mediante CVU/CBU y MercadoPago.</p>

<h2>¿Puedo realizar un seguimiento de mi pedido en tiempo real?</h2>
<p>No, por el momento no puedes realizar un seguimiento del producto, pero lo agregaremos pronto ya que todos los dias vamos actualizando y creciendo!.</p>

<h2>¿Cuánto tiempo se tarda en recibir mi pedido?</h2>
<p>El tiempo de entrega varía según la ubicación y el método de envío seleccionado. Normalmente, los pedidos se entregan en un plazo de 3 a 7 días hábiles.</p>

<h2>¿Puedo cambiar o cancelar mi pedido después de hacerlo?</h2>
<p>Sí, puedes cambiar o cancelar tu pedido antes de que sea procesado. Ponte en contacto con nuestro servicio de atención al cliente lo antes posible para hacer cambios.</p>

<h2>¿Qué hago si el producto recibido está dañado o no es el correcto?</h2>
<p>Si recibes un producto dañado o incorrecto, contáctanos de inmediato y te ayudaremos a resolver el problema. Te proporcionaremos un reemplazo o un reembolso.</p>

<h2>¿Ofrecen garantía en sus productos?</h2>
<p>Sí, ofrecemos garantía en todos nuestros productos. Consulta la sección de <a href="terminosCompra" target="_blank">Politicas de compra</a> en la aplicación para obtener más detalles.</p>

<h2>¿Cómo puedo devolver o cambiar un par de zapatillas?</h2>
<p>Puedes iniciar el proceso de devolución o cambio poniendote en contacto con nosotros!. Te daremos instrucciones para que puedas completar este proceso.</p>

<h2>¿Cuál es la política de devoluciones y reembolsos?</h2>
<p>Nuestra política de devoluciones y reembolsos está disponible en la sección <a href="devoluciones" target="_blank">Política de Devoluciones</a> en la aplicación. Consulta esta sección para conocer los detalles.</p>

<h2>¿Tienen una tabla de tallas para las zapatillas?</h2>
<p>Sí, puedes encontrar nuestra tabla de tallas en la descripción de cada producto. Te ayudará a elegir la talla adecuada.</p>

<h2>¿La pregunta que buscabas no se encuentra entre estas opciones?</h2>
<p>Envianos un mensaje y responderemos tu pregunta a la brevedad! <a href="blog" target="_blank">¡Presiona Aquí!</a></p>
{% endblock %}