{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block body %}

<section class="centrado">
    <h1>Terminos y condiciones de Privacidad</h1>
    <p>Última actualización: 09/09/2023</p>
</section>

    </section>
    <section>
        <p>En ZAPABYTE, respetamos tu privacidad y nos comprometemos a proteger la información personal que puedas proporcionarnos. Esta política de privacidad explica cómo recopilamos, utilizamos, compartimos y protegemos tus datos personales. Al visitar nuestro sitio web, utilizar nuestros servicios o comprar nuestros productos, aceptas las prácticas descritas en esta política.</p>
        <h2>Información que Recopilamos</h2>
        <p>
            Recopilamos la siguiente información personal cuando interactúas con nosotros:
            <p>1. Información de contacto: Esto incluye tu nombre, dirección de correo electrónico, número de teléfono y dirección postal cuando te registras en nuestra tienda o realizas una compra.</p>
            <p>2. Información de pago: Si realizas una compra, recopilamos la información necesaria para procesar tus pagos, como los detalles de tu tarjeta de crédito o información de tu cuenta de PayPal.</p>
            <p>3. Información de entrega: Necesitamos tu dirección de envío para entregar tus pedidos de manera adecuada.</p>
            <p>4. nformación de perfil: Puedes proporcionar información adicional en tu perfil de usuario, como tus preferencias de calzado y tallas.</p>
            <p>5. Datos de uso: Recopilamos datos sobre cómo utilizas nuestro sitio web, como las páginas que visitas, los productos que visualizas y las acciones que realizas.</p>
            <p>6. Cookies y Tecnologías Similares: Utilizamos cookies y tecnologías similares para recopilar información sobre tus preferencias y actividades en línea. Puedes administrar las preferencias de las cookies a través de la configuración de tu navegador.</p>
        </p>
    </section>

    <section>
        <h2>Cómo Utilizamos Tu Información</h2>
        <p>
            Utilizamos tus datos personales para:
            <p>1. Procesar y entregar tus pedidos de zapatillas.</p>
            <p>2. Comunicarnos contigo sobre tu pedido y proporcionarte información sobre nuestros productos y promociones.</p>
            <p>3. Mejorar nuestros productos y servicios, incluyendo el contenido y la funcionalidad de nuestro sitio web.</p>
            <p>4. Proteger nuestros derechos legales y cumplir con las leyes aplicables.</p>
        </p>
    </section>

    <section>
        <h2>Compartir Tu Información</h2>
        <p>
            No vendemos ni alquilamos tu información personal a terceros. Sin embargo, podemos compartir tu información con terceros de la siguiente manera:
            <p>1. Proveedores de servicios: Podemos compartir tu información con empresas que prestan servicios en nuestro nombre, como servicios de envío y procesamiento de pagos.</p>
            <p>2. Cumplimiento legal: Divulgaremos información cuando sea necesario para cumplir con las leyes, regulaciones o procesos legales aplicables.</p>

        </p>
    </section>

    <section>
        <h2>Seguridad de la Información</h2>
        <p>
            Tomamos medidas razonables para proteger tu información personal contra el acceso no autorizado, la divulgación, la alteración o la destrucción.
        </p>
    </section>

    <section>
        <h2>Tus Derechos de Privacidad</h2>
        <p>
            Tienes derechos relacionados con tu información personal, como el derecho de acceso, corrección, eliminación y objeción al procesamiento. Puedes ejercer estos derechos contactándonos a través de los medios proporcionados al final de esta política.
        </p>
    </section>

    <section>
        <h2>Cambios en Esta Política</h2>
        <p>
            Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento para reflejar cambios en nuestras prácticas de privacidad. Te notificaremos sobre cualquier cambio significativo a través de nuestro sitio web o por otros medios adecuados.

        <p>Si tienes alguna pregunta sobre esta política de privacidad o nuestras prácticas de privacidad, no dudes en contactarnos en GigabyteTienda@gmail.com</p>
        </p>
    </section>



{% endblock %}