{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block body %}


<section class="centrado">
    <h1>Términos y Condiciones de Compra</h1>
    <p>Última actualización: 09/09/2023</p>
</section>

<section>
    <h2>Aceptación de los Términos y Condiciones</h2>
    <p>
        Estos términos y condiciones de compra (en adelante, "Términos") rigen la relación entre ZAPABYTEy el cliente (en adelante, "Cliente") al realizar una compra en nuestro sitio web. Al realizar una compra, el Cliente acepta y se compromete a cumplir estos Términos en su totalidad.
    </p>
</section>

<section>
    <h2>Productos y Precios</h2>
    <p>
        ZAPABYTE se reserva el derecho de modificar los productos y precios en cualquier momento sin previo aviso. Sin embargo, el precio aplicable a un pedido es el precio vigente en el momento de la compra.
    </p>
</section>

<section>
    <h2>Pedidos y Pagos</h2>
    <p>
        El Cliente debe proporcionar información precisa y completa al realizar un pedido. El pago se procesará utilizando los métodos de pago disponibles en nuestro sitio web. Los productos se enviarán una vez que se haya confirmado el pago.
    </p>
</section>

<section>
    <h2>Envíos y Entrega</h2>
    <p>
        Los tiempos de envío y entrega pueden variar según la ubicación del Cliente y la disponibilidad de productos. ZAPABYTE no se hace responsable de retrasos en la entrega causados por circunstancias ajenas a nuestra empresa.
    </p>
</section>

<section>
    <h2>Devoluciones y Reclamaciones</h2>
    <p>
        Para información detallada sobre devoluciones y reclamaciones, consulte nuestra <a href="devoluciones">Política de Devoluciones</a>.
    </p>
</section>

<section>
    <h2>Privacidad y Seguridad</h2>
    <p>
        La información personal del Cliente se maneja de acuerdo con nuestra <a href="privacety">Política de Privacidad</a>. Tomamos medidas para proteger la seguridad de los datos del Cliente, pero no podemos garantizar la seguridad absoluta en línea.
    </p>
</section>

<section>
    <h2>Modificaciones de los Términos</h2>
    <p>
        ZAPABYTE se reserva el derecho de modificar estos Términos en cualquier momento. Los cambios entrarán en vigencia a partir de su publicación en nuestro sitio web. Se recomienda al Cliente revisar periódicamente estos Términos.
    </p>
</section>

<section>
    <h2>Contacto</h2>
    <p>
        Si tienes alguna pregunta sobre estos Términos y Condiciones de Compra, contáctanos en GigabyteTienda@gmail.com
    </p>
</section>


{% endblock %}